body {
    font-family: Montserrat, sans-serif;
    background-color: #F5F5F5;
    color: dimgray;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

.page_header {
    font-size: 2em;
    margin: 20px 0px 10px 45px;
    font-weight: bold;
}

.page_header_label {
    font-size: 2em;
    margin: 20px 0px 10px 90px;
    font-weight: bold;
}

.page_subtitle {
    font-size: 1.3em;
    margin: 20px 0 10px 40px;
}


/*HEADER AND NAV*/

header {
    background-color: black;
}

nav {
    text-align: center;
    padding: 20px 0;
    margin: 20px 0 0;
    color: black;
    font-family: Lato;
    font-size: 1.75em;
}

nav ul {
    list-style: none;
    margin: 0 10px;
    padding: 0;
}

nav li {
    display: inline-block;
    padding: 0 20px;
}

nav a {
    font-weight: 800;
    padding: 15px 10px;
}

#header_logo img {
    max-width: 100%;
    height: auto;
}

#subtitle {
    margin: -20px 0 0 35px;
    color: #428bca;
}

/*FORM*/

nav form {
    position: absolute;
    margin-left: 160px;
}

#authentication li {
    list-style: none;
    text-align: left;
    margin-bottom: 20px;
}

#authentication a:visited {
    color: lightslategray;
}

#log_in {
    margin: 20px;
}

#register_form {
    margin: 20px;
}

#logo {
    font-size: 2em;
    color: #F5F5F5;
}

#search {
    position: relative;
    height: 20px;
    width: 250px;
}

/*IMAGES*/

.display_list {
    margin: 20px 0 30px 52px;
    list-style: none;
    text-align: left;
    font-family: Lato;
}

.collection_list {
    margin: 20px 90px 20px 50px;
    font-family: Lato;
    width: 40%;
}

#add {
    text-align: left;
    margin-left: 20px;
}

#title_detail {
    margin: 10px 0 40px 40px;
}

#song_titles {
    margin: -5px 0 40px 45px;
}

#band_members {
    margin: 10px 0 10px 40px;
}

#record_review, #reviewer_name {
    text_align: left;
    font-family: Lato;
    margin: 0 0 0 35px;
}

#record_review {
    padding: 10px;
    width: 80%;
}


.cover_art_link {
    margin: 0 80px;
}

.cover_art img {
    margin: 30px 30px 0 80px;
    max-width: 250px;
    height: auto;
}


.search_form {
    margin: 40px;
}

.btn {
    margin: 0 80px;
}



/*MEDIA QUERIES*/

@media (max-width : 754px) {

	.collection_list {
        width: 90%;
        margin: 20px 0 0 0;
        font-size: 1.25rem;
    }

    .collection_title {
        font-size: 1.25rem;
    }

    nav {
        font-size: 1.25rem;
    }

    nav li {
        padding: 0;
    }

    #subtitle h3 {
        margin: 20px 0 0 -20px;
        font-size: 1.25rem;
    }

}