body {
    font-family: Montserrat, sans-serif;
    background-color: #F5F5F5;
    color: dimgray;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

.page_header {
    font-size: 2em;
    margin: 20px 0px 10px 40px;
}

.page_subtitle {
    font-size: 1.3em;
    margin: 20px 0 10px 40px;
}


/*HEADER AND NAV*/

header {
    background-color: black;
}

nav {
    text-align: center;
    padding: 20px 0;
    margin: 20px 0 0;
    color: black;
    font-family: Lato;
    font-size: 1.75em;
}

nav ul {
    list-style: none;
    margin: 0 10px;
    padding: 0;
}

nav li {
    display: inline-block;
    padding: 0 20px;
}

nav a {
    font-weight: 800;
    padding: 15px 10px;
}

#header_logo img {
    max-width: 100%;
    height: auto;
}

#subtitle {
    margin: -20px 0 0 35px;
    color: #428bca;
}

/*FORM*/

nav form {
    position: absolute;
    margin-left: 160px;
}

#authentication li {
    list-style: none;
    text-align: left;
    margin-bottom: 20px;
}

#authentication a:visited {
    color: lightslategray;
}

#log_in {
    margin: 20px;
}

#register_form {
    margin: 20px;
}

#logo {
    font-size: 2em;
    color: #F5F5F5;
}

#search {
    position: relative;
    height: 20px;
    width: 250px;
}

/*IMAGES*/

.display_list {
    margin: 20px 0 0 10px;
    list-style: none;
    text-align: left;
    font-family: Lato;
}

.display_list_labels {
    margin-top: 0;
}

#add {
    text-align: left;
    margin-left: 20px;
}

#title_detail {
    margin: 10px 0 10px 35px;
}

#song_titles {
    margin: 10px 0 10px 35px;
}

#band_members {
    margin: 10px 0 10px 40px;
}

#record_review, #reviewer_name {
    text_align: left;
    font-family: Lato;
    margin: 0 0 0 35px;
}

#record_review {
    width: 60%;
}


.cover_art_link {
    margin: 0 35px;
}

.cover_art img {
    margin: 30px 30px 0 35px;
    max-width: 250px;
    height: auto;
}
/*LABEL PAGE*/


/*LINKS*/

nav a:visited {
    color: #c4d4de;
}

.selected {
   color: #3BD6C6;
}

.search_form {
    margin: 40px;
}

.btn {
    margin: 0 80px;
}


/*FOOTER*/

footer {
    position: absolute;
    margin-left: 40px;
    font-size: 0.75em;
    text-align: left;
    clear: both;
    padding-top: 50px;
    color: #ccc;
}